<%= form_for @post, class: "form-horizontal" do |f| %>

    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |error| %>
            <%= js add_gritter(error, title: "Overtime App Notification", sticky: false, image: :warning) %>
        <% end %>
    <% end %>

    <div class="form-group">
      <%= f.label :date, class: "col-sm-2 control-label" %>
      <%= f.date_field :date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :rationale, class: "col-sm-2 control-label" %>
      <%= f.text_area :rationale, class: "form-control" %>
    </div>

    <%= f.submit 'Save', class: "btn btn-success" %>

<% end %>