<h1>Posts</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      id#
    </th>
    <th>
      Date
    </th>
    <th>
      User
    </th>
    <th>
      Rationale
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @posts %>
  </tbody>
</table>