// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=date] {
  max-width: 200px;
  display: block;
  clear: both;
}
label {
  display: block;
}
textarea {
  max-width: 400px;
  min-height: 200px;
  display: block;
  clear: both;
}
